body {
	background-color: rgb(63,63,63);
	margin: 0px;
}

canvas {
	display: none;
}

#viewport {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	width: 800px;
	height: 600px;
	position: relative;
	display: none;
	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background: black;
	color: white;
}

.verg_opt {
	width: 500px;
}

#vergence_label {
	display: flex;
	justify-content: space-between; 
}