body {
	background-color: rgb(63,63,63);
	margin: 0px;
}

#viewport {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#level {
	display: none;
}

.menu {
	width: 800px;
	height: 600px;
	position: relative;
	display: none;
	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background: black;
	color: white;
}

/* Options Menu */
#options_menu {
	height: auto;
	width: auto;
}

#options_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

#inner_options {
	background: none;
	border: 1px solid white;
}

.verg_opt {
	width: 500px;
}

#vergence_label {
	display: flex;
	justify-content: space-between; 
}